.game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    --grid-size: min(95vh, 95vw);

    .grid {
        position: relative;
        padding: var(--spacing-sm);
        height: var(--grid-size);
        width: var(--grid-size);
        transition: all 2s ease-in-out;

        .gridElement {
            position: absolute;
            user-select: none;
            border: var(--width-separator-md) solid var(--color-separator);
            overflow: hidden;
            transition: all .2s ease-in-out;
            
            .image {
                position: absolute;
                object-fit: cover;
                object-position: center center;
                left: 0;
                top: 0;
                width: var(--grid-size);
                height: var(--grid-size);
                z-index: -1;
            }
            
            &.movable {
                border-color: var(--color-primary);
            }
        }
    }
}