:root {
  --font-family-sans-serif: 'Acme' sans-serif;

  --color-primary: #e05656;
  
  --color-separator: rgba(0, 0, 0, .1);
  
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.8rem;

  
  --width-separator-sm: 1pt;
  --width-separator-md: 2pt;
  --width-separator-lg: 4pt;
}

html, body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}